@use 'variables' as v;

footer {
    text-align: center;
    padding: 1em 0;
    background: v.$header-bg-color;
    color: v.$header-text-color;
    font-size: 14px;
    hr{
        position: relative;
        bottom: 2rem;
        border: none;
        background-color: black;
        height: 2px;
    
    }
}