@use 'variables' as v;
.main{
    flex: 1;
    hr{
        border: none;
        height: 2px;
        background-color: v.$header-bg-color;
        margin: 1.5rem;
    }

    .center-not-found{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

}