<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="icon" href="/Public/images/scandiweb_logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Public/CSS/styles.css">

</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <div class="container">
            <h1>Product List</h1>
            <div class="header-buttons">
                <button id="add-button">ADD</button>
                <button id="delete-product-btn" class="mass-delete">MASS DELETE</button>
            </div>
        </div>
    </header>

    <!-- Main Content Section -->
    <main class="main">
        <hr>
        <section class="product-list">
            <div class="product-card">
                <input type="checkbox" class="delete-checkbox">
                <div class="product-info">
                    <p>JVC200123</p>
                    <p>Acme DISC</p>
                    <p>1.00 $</p>
                    <p>Size: 700 MB</p>
                </div>
            </div>

            <div class="product-card">
                <input type="checkbox" class="delete-checkbox">
                <div class="product-info">
                    <p>GGWP0007</p>
                    <p>War and Peace</p>
                    <p>20.00 $</p>
                    <p>Weight: 2KG</p>
                </div>
            </div>

            <div class="product-card">
                <input type="checkbox" class="delete-checkbox">
                <div class="product-info">
                    <p>TR120555</p>
                    <p>Chair</p>
                    <p>40.00 $</p>
                    <p>Dimensions: 24x45x15</p>
                </div>
            </div>

            <div class="product-card">
                <input type="checkbox" class="delete-checkbox">
                <div class="product-info">
                    <p>JVC200123</p>
                    <p>Acme DISC</p>
                    <p>1.00 $</p>
                    <p>Size: 700 MB</p>
                </div>
            </div>

            <div class="product-card">
                <input type="checkbox" class="delete-checkbox">
                <div class="product-info">
                    <p>JVC200123</p>
                    <p>Acme DISC</p>
                    <p>1.00 $</p>
                    <p>Size: 700 MB</p>
                </div>
            </div>


            <div class="product-card">
                <input type="checkbox" class="delete-checkbox">
                <div class="product-info">
                    <p>JVC200123</p>
                    <p>Acme DISC</p>
                    <p>1.00 $</p>
                    <p>Size: 700 MB</p>
                </div>
            </div>

        </section>
        <hr>
    </main>

    <!-- Footer Section -->
    <footer>
        <p>Scandiweb Test assignment</p>
    </footer>
</body>
</html>
